<h1>Lion 중화요리에 오신것을 환영합니다!!</h1>

<form action="/c/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file">파일 업로드:</label>
    <input type="file" id="file" name="file">
    <input type="submit" value="Upload File">
</form>
  

<form action="" method="post">
    {% csrf_token %}
    <div>
        <label for="category">카테고리 선택:</label>
        <select name="category">
          <option value="면류">면류</option>
          <option value="식사류">식사류</option>
          <option value="요리류">요리류</option>
        </select>
    </div>

    <div>
    <label for="name">음식이름:</label>
    <input type="text" name="lion_name">
    </div>
    <div>
    <label for="price">가격:</label>
    <input type="text" name="price">
    </div>  
    <div>
    <label for="description">소개:</label>
    <textarea name="description" rows="4" cols="50"></textarea>
    </div>
    <div>
        <p>Takeout 가능한 식품인가요?:</p>
        <input type="radio" name="takeout" value="yes">
        <label for="male">포장만 가능</label><br>
        <input type="radio" name="takeout" value="no">
        <label for="female">매장내식사만 가능한</label>
    </div>
    <input type="submit" value="제출">        
</form>